//Specification
body {
  margin: 0 auto;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

header,
section,
footer {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

span,
button {
  font-weight: 400;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  font-size: 18px;
}

a:hover {
  color: $main-color;
  text-decoration: none;

  @media (min-width: 992px) {
    opacity: 0.6;
  }
}

.btn-accent {
  background-color: $accent !important;
  color: $main-color;

  &:hover {
    background-color: $hover-color !important;
  }
}

.accent {
  color: $accent;
}

h4 {
  font-size: 24px;
  color: $small-title;
  line-height: 33.12px;
}

h3 {
  font-size: 48px;
  line-height: 48px;
  color: $font-black;
}

.text {
  color: $main-color;
  font-size: 18px;
  line-height: 24.84px;
  font-weight: 400;
}

a,
.navbar-light {
  color: $main-color;
}