$main-color: #fff;
$font-black: #1f1f1f;
$accent: #005fa3;
$small-title: #bdbdbd;
$hover-color: #0a83db;

$dot-width: 11px;
$dot-height: 11px;

$logo-width:50px;
$logo-height:50px;

$company-name:36px;